---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/821170560/?client_id=f93100f5c0d843809f07f94367795fb0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4998'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"vivomasks","bio":"We make
        beautiful masquerade masks","website":"http:\/\/www.vivomasks.com","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11371051_1021861514499988_1654257680_a.jpg","full_name":"VIVO
        Masks","counts":{"media":25,"followed_by":102,"follows":43},"id":"821170560"}}'
  recorded_at: Sat, 26 Sep 2015 21:52:40 GMT
recorded_with: VCR 2.9.3
