---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Fri, 25 Sep 2015 23:30:38 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj Alfsijef",[],[],[]]'
  recorded_at: Fri, 25 Sep 2015 23:30:39 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "4dc1e4c0-541a-4c92-a761-66f07ea37a7f"
        }
  recorded_at: Fri, 25 Sep 2015 23:30:40 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm1080980", "title":"", "name":"Jackson Cunningham","description":"Actor, 10-Speed"}],"name_approx": [{ "id":"nm2998651", "title":"", "name":"Jason Blaise Cunningham","description":"Camera and Electrical Department, Dawn of the Planet of the Apes"},{ "id":"nm0192336", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Road Trip"},{ "id":"nm1899417", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Stuck in the Middle with You"},{ "id":"nm3483519", "title":"", "name":"Jason Cunningham","description":"Thanks, The Signal"},{ "id":"nm6377923", "title":[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Jackson Cunningham",[],[],[]]'
  recorded_at: Fri, 25 Sep 2015 23:32:03 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=samantha@samanthaettus.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "9963fe99-05a3-41d3-9c49-46fe4a28f660",
          "likelihood" : 0.9,
          "photos" : [ {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/1e8f2efd6502e1e4999820760e43465a_e0a3a1eb06ba31369196ab9f34adaf621dabff2be8c8728ab1977853ced6cacb",
            "isPrimary" : true
          }, {
            "type" : "pinterest",
            "typeId" : "pinterest",
            "typeName" : "Pinterest",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/b57ab53994c9f7e59b620f6d4b9a1920_f97ea2978d4a811685287de08200d54316e5eb932f7cd0cb9109169e72c37b59",
            "isPrimary" : false
          }, {
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/fb225328c0573a45c4486fe1cce928a3_a23d253add6ca1fcdc17a52340b138a388c20e87a5635d73e7a948f44b73bb4c",
            "isPrimary" : false
          } ],
          "contactInfo" : {
            "websites" : [ {
              "url" : "http://www.samanthaettus.com"
            }, {
              "url" : "http://blogs.forbes.com/samanthaettus"
            }, {
              "url" : "http://www.workingmomslifestyle.com"
            }, {
              "url" : "http://www.babble.com/contributor/samanthaettus"
            } ],
            "familyName" : "Ettus",
            "fullName" : "Samantha Ettus",
            "givenName" : "Samantha"
          },
          "demographics" : {
            "gender" : "Female"
          },
          "socialProfiles" : [ {
            "type" : "gravatar",
            "typeId" : "gravatar",
            "typeName" : "Gravatar",
            "url" : "https://gravatar.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "19676684"
          }, {
            "bio" : "Obsessed with helping women reach their potential. Contributor/Forbes. Radio host, speaker. Bestselling author. Harvard MBA. Wife of 1, Mom of 3!",
            "type" : "pinterest",
            "typeId" : "pinterest",
            "typeName" : "Pinterest",
            "url" : "http://www.pinterest.com/samanthaettus/",
            "username" : "samanthaettus"
          }, {
            "type" : "klout",
            "typeId" : "klout",
            "typeName" : "Klout",
            "url" : "http://klout.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "12516"
          }, {
            "bio" : "Work life balance renegade. Radio host, TV guest, Forbes contributor, Bestselling author (next book is The Pie Life, May 2016) speaker, Harvard MBA, Momx3.",
            "followers" : 20035,
            "following" : 987,
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://twitter.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "11947432"
          }, {
            "bio" : "It is time for working moms to be celebrated, so let's say goodbye to the guilt, hello to the enjoyment, and increase the sharing and support. Together we can make small improvements that will lead to great change!",
          [...]
