<div class="spacer"></div>

<div class="row">
  <div class="text-center col-sm-8 col-sm-offset-2">
    We'll automatically scan your orders as they come in and we'll notify you when one of your customers has an IMDB profile, Wikipedia page, or a major social following. Or try adding one manually to see how it works.
  </div>
</div>

<div class="spacer"></div>