
  <div class="clearfix"></div>
  <div class="spacer"></div>


    <table class="table customers-container">
     <thead>
      <tr>
        <%= render 'table_headers'  %>
      </tr>
     </thead>

     <tbody>
        <% @celebrities.each do |celebrity| %>
          <%= render 'celebrity_table_row', :celebrity=> celebrity %>
       <% end %>
     </tbody>
    </table> 


