<div class="container">

<div class="spacer"></div>
<%= render 'sessions/logo' %>

<%= render 'app_explanation' %>

<%= render 'index_scanner' %>

<div class="celebs">
  <%= render 'celebrity_table' %>
</div>

</div>
