<div class="panel panel-info col-lg-8 col-lg-offset-2 text-center">
	 <div class="panel-body">
	 	<h2>What are the odds one of your customers will be a celebrity?</h2>
	 	<p>This number will vary from shop to shop, but here are some approximate stats based on our current users.</p>
	 	<table class="table table-bordered">
         	<thead>
  				<tr><th>Celebrity Type</th><th>Odds</th><th>Accuracy</th></tr>
  			</thead>
  			<tbody>
  				<tr><td>IMDB Page</td><td>1 in 9 customers</td><td>Name Match Only (less accurate)</td></tr>
  				<tr><td>Wikipedia Page</td><td>1 in 12 customers</td><td>Name Match Only (less accurate)</td></tr>
  				<tr><td>1,000 Followers (twitter, instagram, or youtube)</td><td>1 in 40 customers</td><td>Email Match (very accurate)</td></tr>
  				<tr><td>5,000 Followers (twitter, instagram, or youtube)</td><td>1 in 400 customers</td><td>Email Match (very accurate)</td></tr>
  				<tr><td>50,000 Followers (twitter, instagram, or youtube)</td><td>1 in 1500 customers</td><td>Email Match (very accurate)</td></tr>
  				<tr><td>100,000 Followers (twitter, instagram, or youtube)</td><td>1 in 2000 customers</td><td>Email Match (very accurate)</td></tr>
  				<tr><td>250,000 Followers (twitter, instagram, or youtube)</td><td>1 in 8000 customers</td><td>Email Match (very accurate)</td></tr>
  			</tbody>
     	</table>

	 </div>
</div>

