---
http_interactions:
- request:
    method: get
    uri: http://api.klout.com/v2/user.json/27043?key=zkrjuqr3t3a2hhv2z9mku222
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Apikey-Qps-Allotted:
      - '10'
      X-Apikey-Qps-Current:
      - '1'
      X-Apikey-Quota-Allotted:
      - '20000'
      X-Apikey-Quota-Current:
      - '4'
      X-Mashery-Responder:
      - prod-j-worker-us-west-1c-44.mashery.com
      X-Quota-Reset:
      - Tuesday, September 29, 2015 12:00:00 AM GMT
    body:
      encoding: UTF-8
      string: '{"kloutId":"27043","nick":"Ericbobmyers","score":{"score":62.79010608332858,"bucket":"60-69"},"scoreDeltas":{"dayChange":-0.2694519727785405,"weekChange":0.623912114017358,"monthChange":3.927774744010989}}'
  recorded_at: Mon, 28 Sep 2015 16:36:21 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Eric%20Myers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm0616706", "title":"", "name":"Eric Myers","description":"Miscellaneous Crew, Scent of a Woman"},{ "id":"nm2254232", "title":"", "name":"Eric Myers","description":"Visual Effects, Good Night, and Good Luck."},{ "id":"nm0583534", "title":"", "name":"Eric Meyers","description":"Actor, 1408"},{ "id":"nm2687059", "title":"", "name":"Eric Myers","description":"Writer, Found in Translation"},{ "id":"nm1914730", "title":"", "name":"Eric Myers","description":"Self, The Lady in Question Is Charles Busch"},{ "id":"nm2392146", "title":"", "name":"Eric Myers","description":"Sound Department, Up Yours"},{ "id":"nm2780119", "title":"", "name":"Eric Myers","description":"Editor, Well Met in Osaka"},{ "id":"nm3383827", "title":"", "name":"Eric Myers","description":"Sound Department, The Hooker with a Heart of Gold"},{ "id":"nm4471847", "title":"", "name":"Eric Myers","description":"Producer, Billy&#x27;s Cult"},{ "id":"nm4601817", "title":"", "name":"Eric Myers","description":"Thanks, Vito"},{ "id":"nm1546419", "title":"", "name":"Eric Myers","description":"Actor, Without Warning"},{ "id":"nm5327073", "title":"", "name":"Eric Myers","description":"Thanks, Adventures in Plymptoons!"}],"name_substring": [{ "id":"nm0616826", "title":"", "name":"Paul Eric Myers","description":"Writer, Aftershock: Earthquake in New York"}],"name_approx": [{ "id":"nm0616899", "title":"", "name":"Eric Myerson","description":"Editor, Poached"},{ "id":"nm4747071", "title":"", "name":"Erica J Myers","description":"Miscellaneous Crew, Final Auditions"},{ "id":"nm5458121", "title":"", "name":"Peter Myers And Erica Richards","description":"Producer, Our Green Roadie: Snapshots and Stories Shared"},{ "id":"nm3112554", "title":"", "name":"Erica Myers","description":"Miscellaneous Crew, 2009 CMT Music Awards"},{ "id":"nm7469443", "title":"", "name":"Erica Myers","description":"Uncategorised"},{ "id":"nm0583543", "title":"", "name":"Fredricka Meyers","description":"Actress, The Thirsty Dead"},{ "id":"nm3926107", "title":"", "name":"Jericho Myers","description":"Camera and Electrical Department, 12:01"}]
        }
  recorded_at: Mon, 28 Sep 2015 16:55:51 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Eric%20Myers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Eric Myers",["Eric Myers"],["This is a redirect from a page that
        was merged into another page. This page was kept as a redirect to the corresponding
        main page on the topic it names, in order to preserve this page''s edit history
        after its content was merged into the target page''s content."],["https://en.wikipedia.org/wiki/Eric_Myers"]]'
  recorded_at: Mon, 28 Sep 2015 16:55:51 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Ericrobertmyers@Gmail.Com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "63334a93-344d-40b6-b89a-93ceb8035d09",
          "likelihood" : 0.93,
          "photos" : [ {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/af1c44a1e1f3e4b1ffbbca3373843f1e_4c121273e8ce1da2a3ff3e5ebc9d829dc962b2867694784b313f8c5b3c5f1f36",
            "isPrimary" : true
          }, {
            "type" : "linkedin",
            "typeId" : "linkedin",
            "typeName" : "LinkedIn",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/04b33c22ccba69a49bb07fe154ec1011_59735eee583abad92906a3dcfee9685b0813ae5221f010c1ded78f28d036f4a8",
            "isPrimary" : false
          }, {
            "type" : "other",
            "typeId" : "other",
            "typeName" : "Other",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static[...]
