---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Harry%20Truman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm5577744", "title":"", "name":"Harry Truman","description":"Camera and Electrical Department, The One and Only Mike Leigh"},{ "id":"nm2858858", "title":"", "name":"Harry Truman","description":"Uncategorised"}],"name_substring": [{ "id":"nm0874288", "title":"", "name":"Harry S. Truman","description":"Self, Universal Newsreel"}],"name_approx": [{ "id":"nm3174552", "title":"", "name":"Harry Tuman","description":"Visual Effects, A Gringo Honeymoon"},{ "id":"nm1457542", "title":"", "name":"Barry Truman","description":"Producer, Sandtown"},{ "id":"nm1088085", "title":"", "name":"Harry Treman","description":"Miscellaneous Crew, The Assistant"},{ "id":"nm4578731", "title":"", "name":"Harry Thumann","description":"Soundtrack, Grand Theft Auto IV"},{ "id":"nm4300359", "title":"", "name":"Harry Patramanis","description":"Director, Fynbos"},{ [...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Harry%20Truman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Harry Truman",["Harry Truman"],["This is a redirect from a title
        that is a shortened form of a person''s full name, a book title or other more
        complete article title."],["https://en.wikipedia.org/wiki/Harry_Truman"]]'
  recorded_at: Fri, 11 Sep 2015 22:40:29 GMT
- request:
    method: delete
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:29 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/url
    body:
      encoding: UTF-8
      string: '{"url":"about:blank"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:29 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[]}'
  recorded_at: Fri, 11 Sep 2015 22:40:29 GMT
recorded_with: VCR 2.9.3
