---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Noah%20Kagan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm5861888", "title":"", "name":"Noah Kazanjian","description":"Actor, Late"},{ "id":"nm0863532", "title":"", "name":"Noah Timan","description":"Sound Department, Fantastic Mr. Fox"},{ "id":"nm5742208", "title":"", "name":"Jonah Kagan","description":"Writer, Donner Party: The Musical"},{ "id":"nm0810101", "title":"", "name":"Taran Noah Smith","description":"Actor, Little Bigfoot 2: The Journey Home"},{ "id":"nm0781913", "title":"", "name":"Noah Segan","description":"Actor, Looper"},{ "id":"nm6547344", "title":"", "name":"Noah Kaplan","description":"Writer, [...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Noah%20Kagan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Noah Kagan",["Noah Kagan"],["Noah Kagan is an American Internet entrepreneur
        and the founder of AppSumo."],["https://en.wikipedia.org/wiki/Noah_Kagan"]]'
  recorded_at: Fri, 11 Sep 2015 22:40:21 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Garrison@Grady.Io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '44'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "3f021c25-464d-4dc5-bc8d-9685f9de3c21"
        }
  recorded_at: Fri, 11 Sep 2015 22:40:22 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//*[self::input | self::textarea][not(./@type
        = ''submit'' or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox''
        or ./@type = ''hidden'' or ./@type = ''file'')][(((./@id = ''celebrity_email''
        or ./@name = ''celebrity_email'') or ./@placeholder = ''celebrity_email'')
        or ./@id = //label[normalize-space(string(.)) = ''celebrity_email'']/@for)]
        | .//label[normalize-space(string(.)) = ''celebrity_email'']//.//*[self::input
        | self::textarea][not(./@type = ''submit'' or ./@type = ''image'' or ./@type
        = ''radio'' or ./@type = ''checkbox'' or ./@type = ''hidden'' or ./@type =
        ''file'')]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[]}'
  recorded_at: Fri, 11 Sep 2015 22:40:22 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:27 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/url
    body:
      encoding: UTF-8
      string: '{"url":"about:blank"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:27 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[]}'
  recorded_at: Fri, 11 Sep 2015 22:40:27 GMT
recorded_with: VCR 2.9.3
