---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Kaycee%20Block
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm6769931", "title":"", "name":"Caycee Black","description":"Actress, Jimbo"},{ "id":"nm4101038", "title":"", "name":"Kaycee Brooks","description":"Actress, Fuck My Mom &#x26; Me 14"},{ "id":"nm2448440", "title":"", "name":"Khaycee Aboloc","description":"Actress, Internet Shop"},{ "id":"nm0085512", "title":"", "name":"Stacey K. Black","description":"Make-Up Department, In Time"},{ "id":"nm2375706", "title":"", "name":"Kaytea Brock","description":"Actress, Chalk"},{ "id":"nm5919129", "title":"", "name":"Marcel de Block","description":"Producer, De Club va[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Kaycee%20Block
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Kaycee Block",[],[],[]]'
  recorded_at: Fri, 11 Sep 2015 22:40:04 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Samantha@Samanthaettus.Com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "56b73a80-d28e-4640-bb1c-58d7632d33ba",
          "likelihood" : 0.9,
          "photos" : [ {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/1e8f2efd6502e1e4999820760e43465a_e0a3a1eb06ba31369196ab9f34adaf621dabff2be8c8728ab1977853ced6cacb",
            "isPrimary" : true
          }, {
            "type" : "pinterest",
            "typeId" : "pinterest",
            "typeName" : "Pinterest",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/b57ab53994c9f7e59b620f6d4b9a1920_f97ea2978d4a811685287de08200d54316e5eb932f7cd0cb9109169e72c37b59",
            "isPrimary" : false
          }, {
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/fb225328c0573a45c4486fe1cce928a3_a23d253add6ca1fcdc17a52340b138a388c20e87a5635d73e7a948f44b73bb4c",
            "isPrimary" : false
          } ],
          "contactInfo" : {
            "websites" : [ {
              "url" : "http://www.samanthaettus.com"
            }, {
              "url" : "http://blogs.forbes.com/samanthaettus"
            }, {
              "url" : "http://www.workingmomslifestyle.com"
            }, {
              "url" : "http://www.babble.com/contributor/samanthaettus"
            } ],
            "familyName" : "Ettus",
            "fullName" : "Samantha Ettus",
            "givenName" : "Samantha"
          },
          "demographics" : {
            "gender" : "Female"
          },
          "socialProfiles" : [ {
            "type" : "gravatar",
            "typeId" : "gravatar",
            "typeName" : "Gravatar",
            "url" : "https://gravatar.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "19676684"
          }, {
            "type" : "klout",
            "typeId" : "klout",
            "typeName" : "Klout",
            "url" : "http://klout.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "12516"
          }, {
            "bio" : "Work life balance renegade. Radio host, TV guest, Forbes contributor, Bestselling author (next book is The Pie Life, May 2016) speaker, Harvard MBA, Momx3.",
            "followers" : 20035,
            "following" : 987,
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://twitter.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "11947432"
          }, {
            "bio" : "It is time for working moms to be celebrated, so let's say goodbye to the guilt, hello to the enjoyment, and increase the sharing and support. Together we can make small improvements that will lead to great change!",
          [...]
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":".//*[self::input | self::textarea][not(./@type
        = ''submit'' or ./@type = ''image'' or ./@type = ''radio'' or ./@type = ''checkbox''
        or ./@type = ''hidden'' or ./@type = ''file'')][(((./@id = ''celebrity_email''
        or ./@name = ''celebrity_email'') or ./@placeholder = ''celebrity_email'')
        or ./@id = //label[normalize-space(string(.)) = ''celebrity_email'']/@for)]
        | .//label[normalize-space(string(.)) = ''celebrity_email'']//.//*[self::input
        | self::textarea][not(./@type = ''submit'' or ./@type = ''image'' or ./@type
        = ''radio'' or ./@type = ''checkbox'' or ./@type = ''hidden'' or ./@type =
        ''file'')]"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[{"ELEMENT":"0.8320855125784874-2"}]}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: get
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-2/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":true}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: get
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-2/enabled
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":true}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: get
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-2/name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":"input"}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: get
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-2/attribute/type
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":"text"}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: get
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-2/attribute/readonly
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/execute
    body:
      encoding: UTF-8
      string: '{"script":"arguments[0].value = ''''","args":[{"ELEMENT":"0.8320855125784874-2","element-6066-11e4-a52e-4f735466cecf":"0.8320855125784874-2"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-2/value
    body:
      encoding: UTF-8
      string: '{"value":["Samantha@Samanthaettus.Com"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:05 GMT
[...]
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/element/0.8320855125784874-5/click
    body:
      encoding: UTF-8
      string: "{}"
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:06 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:08 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/url
    body:
      encoding: UTF-8
      string: '{"url":"about:blank"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:08 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[]}'
  recorded_at: Fri, 11 Sep 2015 22:40:08 GMT
recorded_with: VCR 2.9.3
