---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Birglend%20Firglingham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Fri, 11 Sep 2015 22:40:20 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Birglend%20Firglingham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Birglend Firglingham",[],[],[]]'
  recorded_at: Fri, 11 Sep 2015 22:40:20 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Birglendfirglingham@Gmail.Com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '295'
      X-Rate-Limit-Reset:
      - '45'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "bf4a750b-964d-46d5-a8f0-fb2bcd6201af"
        }
  recorded_at: Fri, 11 Sep 2015 22:40:20 GMT
- request:
    method: delete
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:20 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/url
    body:
      encoding: UTF-8
      string: '{"url":"about:blank"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:20 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[]}'
  recorded_at: Fri, 11 Sep 2015 22:40:20 GMT
recorded_with: VCR 2.9.3
