---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm1080980", "title":"", "name":"Jackson Cunningham","description":"Actor, 10-Speed"}],"name_approx": [{ "id":"nm2998651", "title":"", "name":"Jason Blaise Cunningham","description":"Camera and Electrical Department, Dawn of the Planet of the Apes"},{ "id":"nm0192336", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Road Trip"},{ "id":"nm1899417", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Stuck in the Middle with You"},{ "id":"nm3483519", "title":"", "name":"Jason Cunningham","description":"Thanks, The Signal"},{ "id":"nm6377923", "title":[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Jackson Cunningham",[],[],[]]'
  recorded_at: Fri, 11 Sep 2015 22:40:18 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Willard@Legros.Io
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Reset:
      - '47'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "d0355e66-c69a-4091-baff-10e28490d15c"
        }
  recorded_at: Fri, 11 Sep 2015 22:40:18 GMT
- request:
    method: delete
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:18 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/url
    body:
      encoding: UTF-8
      string: '{"url":"about:blank"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":null}'
  recorded_at: Fri, 11 Sep 2015 22:40:18 GMT
- request:
    method: post
    uri: http://127.0.0.1:9517/session/939a59dab92f9fd262b400c2478ef129/elements
    body:
      encoding: UTF-8
      string: '{"using":"xpath","value":"/html/body/*"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"sessionId":"939a59dab92f9fd262b400c2478ef129","status":0,"value":[]}'
  recorded_at: Fri, 11 Sep 2015 22:40:18 GMT
recorded_with: VCR 2.9.3
