<h1>Groupie bulk scan is complete.</h1>
<p>We scanned <%= @total_scanned %> customers and found <%= @total_found %> celebrities. You have <%= @scans_remaining %> scans remaining (upgrade plan <%= link_to 'here', edit_shop_url %>).</p>


   






