<h1>Hey so... You just made a sale to <%= @celebrity.full_name %></h1>
<h3>No big deal.</h3>

<%= render 'wikipedia' %>
<%= render 'imdb' %>
<%= render 'followers' %>

<p>
  You should investigate this further to see if it's legit. If it's legit, then reach out to them and see if they're interested in giving a shout out to your brand.
</p>






