<h1>Groupie bulk scan is complete.</h1>
<p>We've already scanned all your customers so there was nothing left to scan.</p>

<p>You can view all your store's celebrities <%= link_to "here", customers_url %></p>


   






