<p id="notice"><%= notice %></p>

<div class="container">
  <%= link_to "< Back to Groupie Home", celebrities_path %>
  <h1>Settings</h1>

  <h3>Email Notifications</h3>
  <p>on/off</p>

  <h3>When do you want to be notified?</h3>
  <p>when customer has wikipedia page</p>
  <p>when customer has IMDB page</p>
  <p>when customer has Twitter follower count over 10,000</p>




</div>

