---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: UTF-8
      string: '["Jackson Cunningham",[],[],[]]'
  recorded_at: Sun, 25 Oct 2015 00:14:48 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm1080980", "title":"", "name":"Jackson Cunningham","description":"Actor, 10-Speed"}],"name_approx": [{ "id":"nm2998651", "title":"", "name":"Jason Blaise Cunningham","description":"Camera and Electrical Department, Dawn of the Planet of the Apes"},{ "id":"nm0192336", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Road Trip"},{ "id":"nm1899417", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Stuck in the Middle with You"},{ "id":"nm3483519", "title":"", "name":"Jason Cunningham","description":"Thanks, The Signal"},{ "id":"nm6377923", "title":[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '261'
      X-Rate-Limit-Reset:
      - '14'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "e36b8a82-3906-45aa-a53c-300de0975cff"
        }
  recorded_at: Sun, 25 Oct 2015 00:14:48 GMT
[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '260'
      X-Rate-Limit-Reset:
      - '13'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "9c5fd374-f90b-4a3d-ae65-ee2a6321de41"
        }
  recorded_at: Sun, 25 Oct 2015 00:14:49 GMT
recorded_with: VCR 2.9.3
