<script type="text/javascript">
  ShopifyApp.ready(function(){
    ShopifyApp.Bar.initialize({
      title: "Groupie - Discover your celebrity customers",
      icon: "<%= asset_path('favicon.ico') %>"
    });
  });
</script>
<h3>Celebrity Customers</h3>
<table>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td>
          <a href='https://<%="#{@shop_session.url}/admin/customers/#{customer.id}"%>' target="_blank"> <%= customer.id %> </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
