<div class="spacer"></div>

<div class="row">
  <div class="text-center col-sm-8 col-sm-offset-2">
    <b>Groupie will automatically scan your new orders and notify you when there is an IMDB/Wikipedia match or a major social following.</b>
  </div>
</div>

<div class="spacer"></div>