<div class="spacer"></div>

<div class="row">
  <div class="text-center col-sm-8 col-sm-offset-2">
    <b>We'll automatically scan new orders as they come in and notify you when one of your customers has an IMDB profile, Wikipedia page, or major social following.</b>
    <% if current_shop.teaser_scans_running? %>
    	<p>To show you how Groupie works, we're going to notify you of your first major influencer for free (major influencer = over 5000 followers on a social profile).</p>
     <% end %>
  </div>
</div>

<div class="spacer"></div>