<div class="spacer"></div>

<div style="text-align:left">
	<%= link_to image_tag('logo-light.png', :height=>"50px"), root_url %>
</div>

<div style="text-align:right;">
<!-- 	<%= render 'shops/scans_remaining' %>
 -->

	    <%= link_to edit_shop_path do %>
	    	<i class="glyphicon glyphicon-cog"></i> Settings & Notifications
	   	<% end %>
  </div>