<div class="spacer"></div>

<div style="text-align:left">
	<%= link_to image_tag('logo.png', :height=>"50px"), root_url %>
</div>

<div style="text-align:right;">
	<h4><span id="scans-remaining"><%= @scans_remaining %></span> scans remaining this month (<%= link_to "change plan", plan_path %>)</h4>


	    <%= link_to edit_shop_path do %>
	    	<i class="glyphicon glyphicon-cog"></i> Settings & Notifications
	   	<% end %>
  </div>