---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=John%20Doe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: UTF-8
      string: '["John Doe",["John Doe"],["The names \"John Doe\" or \"John Roe\" for
        men, \"Jane Doe\" or \"Jane Roe\" for women, or \"Johnnie Doe\" and \"Janie
        Doe\" for children, or just \"Doe\" non-gender-specifically are used as placeholder
        names for a party whose true identity is unknown or must be withheld in a
        legal action, case, or discussion."],["https://en.wikipedia.org/wiki/John_Doe"]]'
  recorded_at: Sun, 25 Oct 2015 00:14:13 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=John%20Doe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_popular": [{ "id":"nm0234809", "title":"", "name":"Jon Dough","description":"Actor, Latex"}],"name_exact": [{ "id":"nm0230335", "title":"", "name":"John Doe","description":"Actor, Great Balls of Fire!"},{ "id":"nm0230336", "title":"", "name":"John Doe","description":"Writer, ER: Life on the Edge"},{ "id":"nm7406805", "title":"", "name":"John Doe","description":"Director, Clean on the Outside Pink on the Inside 2"},{ "id":"nm0775010", "title":"", "name":"John Schouweiler","description":"Producer, Gods and Monsters"},{ "id":"nm0230337", "title":"", "name":"John Doe","description":"Camera and Electrica[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=John@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '290'
      X-Rate-Limit-Reset:
      - '48'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "5572c337-c5cb-4903-8508-56a9271aefb9",
          "likelihood" : 0.91,
          "photos" : [ {
            "type" : "angellist",
            "typeId" : "angellist",
            "typeName" : "AngelList",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/7c4d5351cbc1b089791245ef04a5d9b2_2987b2f3f24e0e7780b01e3f4f7eec38c1b8653cedcf6eee91f22eb42093202c",
            "isPrimary" : true
          } ],
          "contactInfo" : {
            "familyName" : "Chan",
            "fullName" : "John Chan",
            "givenName" : "John"
          },
          "demographics" : {
            "locationDeduced" : {
              "normalizedLocation" : "Hong Kong",
              "deducedLocation" : "Hong Kong",
              "country" : {
                "deduced" : false,
                "name" : "Hong Kong",
                "code" : "HK"
              },
              "continent" : {
                "deduced" : true,
                "name" : "Asia"
              },
              "likelihood" : 1.0
            },
            "locationGeneral" : "Hong Kong"
          },
          "socialProfiles" : [ {
            "followers" : 2,
            "following" : 0,
            "type" : "angellist",
            "typeId" : "angellist",
            "typeName" : "AngelList",
            "url" : "https://angel.co/john-81",
            "username" : "john-81",
            "id" : "356013"
          }, {
            "type" : "flickr",
            "typeId" : "flickr",
            "typeName" : "Flickr",
            "url" : "https://www.flickr.com/people/24857610@N08",
            "id" : "24857610@N08"
          }, {
            "type" : "foursquare",
            "typeId" : "foursquare",
            "typeName" : "Foursquare",
            "url" : "https://foursquare.com/user/14173",
            "id" : "14173"
          }, {
            "bio" : "Hi, I am toy Designer.",
            "type" : "gravatar",
            "typeId" : "gravatar",
            "typeName" : "Gravatar",
            "url" : "https://gravatar.com/johnidshk",
            "username" : "johnidshk",
            "id" : "66260706"
          }, {
            "type" : "friendfeed",
            "typeId" : "friendfeed",
            "typeName" : "Friendfeed",
            "url" : "http://friendfeed.com/johnkovach",
            "username" : "johnkovach"
          }, {
            "type" : "vimeo",
            "typeId" : "vimeo",
            "typeName" : "Vimeo",
            "url" : "http://vimeo.com/user1673404",
            "id" : "1673404"
          } ]
        }
  recorded_at: Sun, 25 Oct 2015 00:14:14 GMT
[...]
