---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/users/821170560/?client_id=f93100f5c0d843809f07f94367795fb0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '4999'
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"code":200},"data":{"username":"vivomasks","bio":"We make
        beautiful masquerade masks","website":"http:\/\/www.vivomasks.com","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11371051_1021861514499988_1654257680_a.jpg","full_name":"VIVO
        Masks","counts":{"media":25,"followed_by":103,"follows":43},"id":"821170560"}}'
  recorded_at: Mon, 28 Sep 2015 16:36:18 GMT
- request:
    method: get
    uri: https://api.instagram.com/v1/users/Ericrobertmyers@Gmail.Com/?client_id=f93100f5c0d843809f07f94367795fb0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Language:
      - en
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<!DOCTYPE html>\n<!--[if lt IE 7]>      <html lang=\"en\" class=\"no-js
        lt-ie9 lt-ie8 lt-ie7 not-logged-in \"> <![endif]-->\n<!--[if IE 7]>         <html
        lang=\"en\" class=\"no-js lt-ie9 lt-ie8 not-logged-in \"> <![endif]-->\n<!--[if
        IE 8]>         <html lang=\"en\" class=\"no-js lt-ie9 not-logged-in \"> <![endif]-->\n<!--[if
        gt IE 8]><!--> <html lang=\"en\" class=\"no-js not-logged-in \"> <!--<![endif]-->\n
        \   <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\"
        content=\"IE=edge\">\n\n        <title>Page Not Found &bull; Instagram</title>\n\n
        \       <script type=\"text/javascript\">\n  WebFontConfig = {\n    custom:
        {\n      families: ['proxima-nova:n3,n4,n6,n7'],\n      urls: ['//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/cache/styles/fonts.css']\n
        \   }\n  };\n</script>\n<script src=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/scripts/webfont.js\"
        type=\"text/javascript\" async></script>\n\n        \n    \n        <meta
        name=\"robots\" content=\"noimageindex\">\n        \n    <meta name=\"apple-mobile-web-app-capable\"
        content=\"yes\">\n    <meta name=\"apple-mobile-web-app-status-bar-style\"
        content=\"black\">\n\n\n        \n    <meta id=\"viewport\" name=\"viewport\"
        content=\"width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1,
        maximum-scale=1\">\n\n\n        <script type=\"text/javascript\">\n        (function()
        {\n            var docElement = document.documentElement;\n            var
        classRE = new RegExp('(^|\\\\s)no-js(\\\\s|$)');\n            var className
        = docElement.className;\n            docElement.className = className.replace(classRE,
        '$1js$2');\n        })();\n        </script>\n\n        \n    \n    \n        <link
        rel=\"icon\" sizes=\"any\" mask href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/images/ico/favicon.svg\">\n
        \       <meta name=\"theme-color\" content=\"#125688\">\n        <link rel=\"Shortcut
        Icon\" type=\"image/x-icon\" href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/images/ico/favicon.ico\">\n
        \   \n    \n        <link rel=\"apple-touch-icon-precomposed\" href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/images/ico/apple-touch-icon-precomposed.png\">\n
        \       <link rel=\"apple-touch-icon-precomposed\" sizes=\"72x72\" href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/images/ico/apple-touch-icon-72x72-precomposed.png\">\n
        \       <link rel=\"apple-touch-icon-precomposed\" sizes=\"114x114\" href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/images/ico/apple-touch-icon-114x114-precomposed.png\">\n
        \       <link rel=\"apple-touch-icon-precomposed\" sizes=\"144x144\" href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/images/ico/apple-touch-icon-144x144-precomposed.png\">\n
        \   \n    \n    <link href=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/cache/styles/distillery/dialog-main.css\"
        type=\"text/css\" rel=\"stylesheet\"></link>\n\n    \n    <script src=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/scripts/jquery.js\"
        type=\"text/javascript\"></script>\n    <script src=\"//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/scripts/bluebar.js\"
        type=\"text/javascript\"></script>\n\n\n    </head>\n    <body class=\" p-error
        dialog-404\">\n        \n    \n        <div class=\"root\">\n        \n            <div
        class=\"page\">\n                \n                    \n                        <header
        class=\"top-bar top-bar-new\">\n    <div class=\"top-bar-wrapper\">\n        <div
        class=\"logo\"><a href=\"/\">Instagram</a></div>\n\n        <div class=\"top-bar-left\">\n
        \           <ul class=\"top-bar-actions\">\n                <li>\n                    <a
        class=\"top-bar-home\" href=\"/\" label=Home><i></i></a>\n                </li>\n
        \           </ul>\n        </div>\n\n        \n            <div class=\"top-bar-right
        account-state\" id=\"top_bar_right\">\n                <ul class=\"top-bar-actions\">\n
        \                   \n                    \n                    <li id=\"link_profile\"
        class=\"link-signin\">\n                        <a href=\"/accounts/login/\"
        class=\"loginLink\">\n                            <i></i>\n                            <strong>Log
        in</strong>\n                        </a>\n                    </li>\n                    \n
        \               </ul>\n            </div>\n        \n    </div>\n</header>
        <!-- .top-bar -->\n                    \n                \n\n                \n
        \               <div class=\"main\">\n                    \n\t<div class=\"error-container\">\n\t\n\n
        \   <h2>Sorry, this page isn&#39;t available.</h2>\n\n    <p>\n        The
        link you followed may be broken, or the page may have been removed.\n        <a
        href=\"/\">Go back to Instagram.</a>\n    </p>\n\n\n\n\t</div>\n\n                </div>
        <!-- .main -->\n                \n\n            </div> <!-- .page -->\n\n
        \           \n            <footer class=\"page-footer\" role=\"contentinfo\">\n
        \               <div class=\"wrapper\">\n                    <nav>\n                        <ul>\n
        \                           <li><a href=\"/about/us/\">About us</a></li>\n
        \                           <li><a href=\"http://help.instagram.com/\">Support</a></li>\n
        \                           <li><a href=\"http://blog.instagram.com/\">Blog</a></li>\n
        \                           <li><a href=\"http://instagram.com/press/\">Press</a></li>\n
        \                           <li><a href=\"/developer/\">API</a></li>\n                            <li><a
        href=\"/about/jobs/\">Jobs</a></li>\n                            <li><a href=\"/legal/privacy/\">Privacy</a></li>\n
        \                           <li><a href=\"/legal/terms/\">Terms</a></li>\n
        \                       </ul>\n                    </nav>\n\n                    <p
        class=\"copyright\">&copy; 2015 Instagram</p>\n                </div>\n            </footer>\n
        \           \n        \n        <div id=\"reactModalMountPoint\"></div>\n
        \   </div> <!-- .root -->\n    \n    \n\n        \n    <script src=//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/scripts/polyfills/es5-shim.min.js></script>\n<script
        src=//instagramstatic-a.akamaihd.net/bluebar/a7a7e25/scripts/polyfills/es5-sham.min.js></script>\n<script
        type=\"text/javascript\">window._sharedData = {\"static_root\":\"\\/\\/instagramstatic-a.akamaihd.net\\/bluebar\\/a7a7e25\",\"entry_data\":{},\"hostname\":\"api.instagram.com\",\"platform\":\"web\",\"qe\":{\"su\":false},\"display_properties_server_guess\":{\"viewport_width\":360,\"pixel_ratio\":1.5},\"country_code\":\"CA\",\"language_code\":\"en\",\"gatekeepers\":{\"rhp\":true},\"config\":{\"dismiss_app_install_banner_until\":null,\"viewer\":null,\"csrf_token\":\"NOTPROVIDED\"},\"environment_switcher_visible_server_guess\":true};</script>\n\n
        \       \n<script>\n!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?\nn.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;\nn.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;\nt.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,\ndocument,'script','//connect.facebook.net/en_US/fbevents.js');\nfbq('init',
        '1425767024389221');\nfbq('track', 'PageView');\n\n\n</script>\n<noscript>\n\n\n</noscript>\n\n
        \   \n\n    </body>\n</html>"
  recorded_at: Mon, 28 Sep 2015 16:40:44 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Eric%20Myers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm0616706", "title":"", "name":"Eric Myers","description":"Miscellaneous Crew, Scent of a Woman"},{ "id":"nm2254232", "title":"", "name":"Eric Myers","description":"Visual Effects, Good Night, and Good Luck."},{ "id":"nm0583534", "title":"", "name":"Eric Meyers","description":"Actor, 1408"},{ "id":"nm2687059", "title":"", "name":"Eric Myers","description":"Writer, Found in Translation"},{ "id":"nm1914730", "title":"", "name":"Eric Myers","description":"Self, The Lady in Question Is Charles Busch"},{ "id":"nm2392146", "title":"", "name":"Eric Myers","description":"Sound Department, Up Yours"},{ "id":"nm2780119", "title":"", "name":"Eric Myers","description":"Editor, Well Met in Osaka"},{ "id":"nm3383827", "title":"", "name":"Eric Myers","description":"Sound Department, The Hooker with a Heart of Gold"},{ "id":"nm4471847", "title":"", "name":"Eric Myers","description":"Producer, Billy&#x27;s Cult"},{ "id":"nm4601817", "title":"", "name":"Eric Myers","description":"Thanks, Vito"},{ "id":"nm1546419", "title":"", "name":"Eric Myers","description":"Actor, Without Warning"},{ "id":"nm5327073", "title":"", "name":"Eric Myers","description":"Thanks, Adventures in Plymptoons!"}],"name_substring": [{ "id":"nm0616826", "title":"", "name":"Paul Eric Myers","description":"Writer, Aftershock: Earthquake in New York"}],"name_approx": [{ "id":"nm0616899", "title":"", "name":"Eric Myerson","description":"Editor, Poached"},{ "id":"nm4747071", "title":"", "name":"Erica J Myers","description":"Miscellaneous Crew, Final Auditions"},{ "id":"nm5458121", "title":"", "name":"Peter Myers And Erica Richards","description":"Producer, Our Green Roadie: Snapshots and Stories Shared"},{ "id":"nm3112554", "title":"", "name":"Erica Myers","description":"Miscellaneous Crew, 2009 CMT Music Awards"},{ "id":"nm7469443", "title":"", "name":"Erica Myers","description":"Uncategorised"},{ "id":"nm0583543", "title":"", "name":"Fredricka Meyers","description":"Actress, The Thirsty Dead"},{ "id":"nm3926107", "title":"", "name":"Jericho Myers","description":"Camera and Electrical Department, 12:01"}]
        }
  recorded_at: Mon, 28 Sep 2015 16:41:41 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Eric%20Myers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Eric Myers",["Eric Myers"],["This is a redirect from a page that
        was merged into another page. This page was kept as a redirect to the corresponding
        main page on the topic it names, in order to preserve this page''s edit history
        after its content was merged into the target page''s content."],["https://en.wikipedia.org/wiki/Eric_Myers"]]'
  recorded_at: Mon, 28 Sep 2015 16:41:42 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '58'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "1b5b8dfe-d762-4339-a0f7-f4fb4bb74481"
        }
  recorded_at: Mon, 28 Sep 2015 16:41:42 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Ericrobertmyers@Gmail.Com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '53'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "1d63f3e9-7c05-4fc6-8144-5b37d6b0ff5f",
          "likelihood" : 0.93,
          "photos" : [ {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/af1c44a1e1f3e4b1ffbbca3373843f1e_4c121273e8ce1da2a3ff3e5ebc9d829dc962b2867694784b313f8c5b3c5f1f36",
            "isPrimary" : true
          }, {
            "type" : "linkedin",
            "typeId" : "linkedin",
            "typeName" : "LinkedIn",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/04b33c22ccba69a49bb07fe154ec1011_59735eee583abad92906a3dcfee9685b0813ae5221f010c1ded78f28d036f4a8",
            "isPrimary" : false
          }, {
            "type" : "other",
            "typeId" : "other",
            "typeName" : "Other",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static[...]
