---
http_interactions:
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Ericrobertmyers@Gmail.Com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '54'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "997bcbde-54ab-4187-aabf-5ff2c38c00e4",
          "likelihood" : 0.93,
          "photos" : [ {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/af1c44a1e1f3e4b1ffbbca3373843f1e_4c121273e8ce1da2a3ff3e5ebc9d829dc962b2867694784b313f8c5b3c5f1f36",
            "isPrimary" : true
          }, {
            "type" : "linkedin",
            "typeId" : "linkedin",
            "typeName" : "LinkedIn",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/04b33c22ccba69a49bb07fe154ec1011_59735eee583abad92906a3dcfee9685b0813ae5221f010c1ded78f28d036f4a8",
            "isPrimary" : false
          }, {
            "type" : "other",
            "typeId" : "other",
            "typeName" : "Other",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '293'
      X-Rate-Limit-Reset:
      - '53'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "0f126eea-c7be-4b8d-8c34-e338172680c7"
        }
  recorded_at: Thu, 01 Oct 2015 22:39:53 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm1080980", "title":"", "name":"Jackson Cunningham","description":"Actor, 10-Speed"}],"name_approx": [{ "id":"nm2998651", "title":"", "name":"Jason Blaise Cunningham","description":"Camera and Electrical Department, Dawn of the Planet of the Apes"},{ "id":"nm0192336", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Road Trip"},{ "id":"nm1899417", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Stuck in the Middle with You"},{ "id":"nm3483519", "title":"", "name":"Jason Cunningham","description":"Thanks, The Signal"},{ "id":"nm6377923", "title":[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Jackson Cunningham",[],[],[]]'
  recorded_at: Thu, 01 Oct 2015 22:39:54 GMT
[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=John%20Travolta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["John Travolta",["John Travolta"],["John Joseph Travolta (born February
        18, 1954) is an American actor, dancer, and singer. Travolta first became
        known in the 1970s, after appearing on the television series Welcome Back,
        Kotter and starring in the box office successes Saturday Night Fever and Grease."],["https://en.wikipedia.org/wiki/John_Travolta"]]'
  recorded_at: Thu, 01 Oct 2015 22:53:37 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=John%20Travolta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_popular": [{ "id":"nm0000237", "title":"", "name":"John Travolta","description":"Actor, Pulp Fiction"}],"name_exact": [{ "id":"nm3923616", "title":"", "name":"Lisa M. Mangan","description":"Actress, Karla Faye Tucker: Forevermore"},{ "id":"nm6395283", "title":"", "name":"John Travolta","description":"Actor, Sex Freaks"}],"name_approx": [{ "id":"nm0871456", "title":"", "name":"Joey Travolta","description":"Actor, Beverly Hills Cop III"},{ "id":"nm6445718", "title":"", "name":"Joey Travolta","description":[...]
