---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Sat, 26 Sep 2015 21:26:21 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj Alfsijef",[],[],[]]'
  recorded_at: Sat, 26 Sep 2015 21:26:21 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=jacksondcunningham@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '57'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "e3962654-4b54-4c25-b1fc-8951ae303545",
          "likelihood" : 0.89,
          "photos" : [ {
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/918dd143bf2a769907ea76e7011a22c4_98a924c61a33a2aeab731d6a01ca49eff4bec4f7539f62f8197e76a527302001",
            "isPrimary" : true
          }, {
            "type" : "angellist",
            "typeId" : "angellist",
            "typeName" : "AngelList",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/1b6ebc874230805f290681d53d29b061_07d7c7c722132aa12f845a98ec6ba73b664f3406a496162de567fdfb9ec5655a",
            "isPrimary" : false
          }, {
            "type" : "gravatar",
            "typeId" : "gravatar",
            "typeName" : "Gravatar",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/cb4b8940a243011bf048a238793f5db8_77695323073aa04faa5abc2b390bbe4c63b41d50725489729acacad80a060a5d",
            "isPrimary" : false
          }, {
            "type" : "pinterest",
            "typeId" : "pinterest",
            "typeName" : "Pinterest",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/9142a5dccd08f59a91bf26ef13459f30_3967463042becaf71131b4dd02b19cdff8425570346ca634bad572beefa4f42c",
            "isPrimary" : false
          } ],
          "contactInfo" : {
            "websites" : [ {
              "url" : "http://www.brokerengine.ca"
            } ],
            "familyName" : "Cunningham",
            "fullName" : "Jackson Cunningham",
            "givenName" : "Jackson"
          },
          "demographics" : {
            "locationDeduced" : {
              "normalizedLocation" : "Vancouver",
              "deducedLocation" : "Vancouver, British Columbia, Canada",
              "city" : {
                "deduced" : false,
                "name" : "Vancouver"
              },
              "state" : {
                "deduced" : true,
                "name" : "British Columbia"
              },
              "country" : {
                "deduced" : true,
                "name" : "Canada",
                "code" : "CA"
              },
              "continent" : {
                "deduced" : true,
                "name" : "North America"
              },
              "likelihood" : 0.92
            },
            "locationGeneral" : "Vancouver"
          },
          "socialProfiles" : [ {
            "bio" : "Beautiful websites designed specifically for Mortgage Brokers.",
            "followers" : 743,
            "following" : 1263,
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://twitter.com/BrokerEngine",
            "username" : "BrokerEngine",
            "id" : "344946262"
          }, {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://www.facebook.com/jacksoncunningham",
            "username" : "jacksoncunningham"
          }, {
            "type" : "klout",
            "typeId" : "klout",
            "typeName" : "Klout",
            "url" : "http://klout.com/brokerengine",
            "username" : "brokerengine"
          }, {
            "type" : "gravatar",
    [...]
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Sat, 26 Sep 2015 21:26:23 GMT
recorded_with: VCR 2.9.3
