// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
}

.logo img {
  max-height: 200px;
  margin: 0 auto;
}

.login h2 {
	text-align: center;
	color: #888;
}

.info {
	padding-top: 20px;
}

.screenshot {
	margin: 100px 0;
}

.screenshot h2 {
	text-align:center;
	margin: 20px;
}

.screenshot img {
	border: 1px solid #ccc;
}