// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  padding: 0;
}

.headline img {
  max-height: 200px;
}

.headline {
  background-color: #e74c3c;
  color: white;
}