---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Rebeka%20Volkman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm5701211", "title":"", "name":"Rebekah Folkman","description":"Self, Every Location Title"},{ "id":"nm6238606", "title":"", "name":"Rebekah Goldman","description":"Actress, Montgomery"},{ "id":"nm2631181", "title":"", "name":"Robert Volkman","description":"Composer, Frank Lloyd Wright&#x27;s Buffalo"},{ "id":"nm7146771", "title":"", "name":"Rebekah Brockman","description":"Actress, Bridge of Spies"},{ "id":"nm5047032", "title":"", "name":"Jennifer Rebecka Holman","description":"Actress, The End of the Tour"},{ "id":"nm3671661", "title":"", "name":"Rebekah [...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Rebeka%20Volkman
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Rebeka Volkman",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:11:14 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=dylan.hilpert@crona.net
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Retry-After:
      - '5'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '14'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 503,
          "message" : "Service Unavailable",
          "requestId" : "488857de-e32b-4f5c-83b4-fa678255fdaa"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:15 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Garrison%20Moore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm1061280", "title":"", "name":"Harrison Moore","description":"Cinematographer, JFK: A Presidency Revealed"},{ "[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Garrison%20Moore
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Garrison Moore",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:11:18 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=samantha@samanthaettus.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '297'
      X-Rate-Limit-Reset:
      - '11'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "15da0395-aefb-4543-a256-a594c1a9d668",
          "likelihood" : 0.9,
          "photos" : [ {
            "type" : "facebook",
            "typeId" : "facebook",
            "typeName" : "Facebook",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/1e8f2efd6502e1e4999820760e43465a_e0a3a1eb06ba31369196ab9f34adaf621dabff2be8c8728ab1977853ced6cacb",
            "isPrimary" : true
          }, {
            "type" : "pinterest",
            "typeId" : "pinterest",
            "typeName" : "Pinterest",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/b57ab53994c9f7e59b620f6d4b9a1920_f97ea2978d4a811685287de08200d54316e5eb932f7cd0cb9109169e72c37b59",
            "isPrimary" : false
          }, {
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/fb225328c0573a45c4486fe1cce928a3_a23d253add6ca1fcdc17a52340b138a388c20e87a5635d73e7a948f44b73bb4c",
            "isPrimary" : false
          } ],
          "contactInfo" : {
            "websites" : [ {
              "url" : "http://www.samanthaettus.com"
            }, {
              "url" : "http://blogs.forbes.com/samanthaettus"
            }, {
              "url" : "http://www.workingmomslifestyle.com"
            }, {
              "url" : "http://www.babble.com/contributor/samanthaettus"
            } ],
            "familyName" : "Ettus",
            "fullName" : "Samantha Ettus",
            "givenName" : "Samantha"
          },
          "demographics" : {
            "gender" : "Female"
          },
          "socialProfiles" : [ {
            "type" : "gravatar",
            "typeId" : "gravatar",
            "typeName" : "Gravatar",
            "url" : "https://gravatar.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "19676684"
          }, {
            "type" : "klout",
            "typeId" : "klout",
            "typeName" : "Klout",
            "url" : "http://klout.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "12516"
          }, {
            "bio" : "Work life balance renegade. Radio host, TV guest, Forbes contributor, Bestselling author (next book is The Pie Life, May 2016) speaker, Harvard MBA, Momx3.",
            "followers" : 20035,
            "following" : 987,
            "type" : "twitter",
            "typeId" : "twitter",
            "typeName" : "Twitter",
            "url" : "https://twitter.com/samanthaettus",
            "username" : "samanthaettus",
            "id" : "11947432"
          }, {
            "bio" : "It is time for working moms to be celebrated, so let's say goodbye to the guilt, hello to the enjoyment, and increase the sharing and support. Together we can make small improvements that will lead to great change!",
          [...]
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Noah%20Kagan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm5861888", "title":"", "name":"Noah Kazanjian","description":"Actor, Late"},{ "id":"nm0863532", "title":"", "name":[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Noah%20Kagan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Noah Kagan",["Noah Kagan"],["Noah Kagan is an American Internet entrepreneur
        and the founder of AppSumo."],["https://en.wikipedia.org/wiki/Noah_Kagan"]]'
  recorded_at: Tue, 15 Sep 2015 00:11:18 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=jaylen.thompson@abbottbosco.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Reset:
      - '10'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "d163e34b-fc9d-461e-b48c-5982bf239cb1"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:19 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm1080980", "title":"", "name":"Jackson Cunningham","description":"Actor, 10-Speed"}],"name_approx": [{ "id":"nm2998651", "title":"", "name":"Jason Blaise Cunningham","description":"Camera and Electrical Department, Dawn of the Planet of the Apes"},{ "id":"nm0192336", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Road Trip"},{ "id":"nm1899417", "title":"", "name":"Jason Cunningham","description":"Miscellaneous Crew, Stuck in the Middle with You"},{ "id":"nm34[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Jackson%20Cunningham
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Jackson Cunningham",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:11:19 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=vinnie_stanton@collins.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Retry-After:
      - '5'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '295'
      X-Rate-Limit-Reset:
      - '9'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 503,
          "message" : "Service Unavailable",
          "requestId" : "8a689597-0f46-4940-a726-28e59ac2daf0"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:20 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Cory%20Farrell
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm1016586", "title":"", "name":"Michele Corn","description":"Art Department, Requiem for a Dream"},{ "id":"nm42513[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Cory%20Farrell
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Cory Farrell",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:11:34 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=isom@kihnzemlak.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "37ac806d-145e-4c81-89b4-12dbf5b2599c"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:34 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Jorge%20Carroll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm5259803", "title":"", "name":"Jorge Carruillo","description":"Actor, Sound of Noise"},{ "id":"nm0140497", "titl[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Jorge%20Carroll
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Jorge Carroll",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:11:36 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=ivory.mcglynn@cruickshank.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '58'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "fdd0a8d7-f8d6-4c40-9934-77d9b731fcd9"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:36 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=lola@monahan.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 503
      message: Service Unavailable
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Retry-After:
      - '5'
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '297'
      X-Rate-Limit-Reset:
      - '58'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 503,
          "message" : "Service Unavailable",
          "requestId" : "b3ddb2e7-8b05-4436-8fa0-9bed79e6e2e8"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:37 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Earlene%20Walter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm5496704", "title":"", "name":"Arlene Walters","description":"Thanks, Arch of Repose"},{ "id":"nm1392182", "tit[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Earlene%20Walter
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Earlene Walter",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:12:18 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=aric@gibson.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '292'
      X-Rate-Limit-Reset:
      - '16'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "0b8478ab-a682-4030-8d53-cfe45c8d4834"
        }
  recorded_at: Tue, 15 Sep 2015 00:12:18 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Foster%20Mertz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm0288108", "title":"", "name":"W. Bert Foster","description":"Writer, Men in the Raw"},{ "id":"nm3235363", "title[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Foster%20Mertz
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Foster Mertz",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:12:20 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=rhianna@jacobihane.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '291'
      X-Rate-Limit-Reset:
      - '14'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "e4052c75-586a-46ea-a57a-709efd2fcdf4"
        }
  recorded_at: Tue, 15 Sep 2015 00:12:21 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=tyrique.homenick@dooley.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '290'
      X-Rate-Limit-Reset:
      - '14'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "0592f9d9-8ef6-4927-87bb-36ddb24686ed"
        }
  recorded_at: Tue, 15 Sep 2015 00:12:21 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Tue, 15 Sep 2015 00:13:37 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj alfsijef",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:13:37 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "43f9ce30-a901-424f-be19-24c865e30dae"
        }
  recorded_at: Tue, 15 Sep 2015 00:13:38 GMT
[...]
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Tue, 15 Sep 2015 19:55:38 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj Alfsijef",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 19:55:38 GMT
[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=jacksondcunningham@gmail.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      strin[...]
