---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Mercedes%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm2270168", "title":"", "name":"Mercedes Seecoomar","description":"Soundtrack, This Is 40"},{ "id":"nm4257596", "title":"", "name":"Mercedes","description":"Self, Strip Club: Solid Gold"},{ "id":"nm2138367", "title":"", "name":"Brenda Camilleri","description":"Casting Department, Agora"},{ "id":"nm6800930", "title":"", "name":"Mercedes","description":"Actor, &#xC9;lie Kakou au Cirque d&#x27;Hiver"},{ "id":"nm3037510", "title":"", "name":"Mercedes","description":"Actress, Shades"},{ "id":"nm3645740", "title":"", "name":"Mercedes","description":"Actress, Birddog[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Mercedes%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Mercedes ",["Mercedes"],["Mercedes may refer to:"],["https://en.wikipedia.org/wiki/Mercedes"]]'
  recorded_at: Tue, 15 Sep 2015 00:11:24 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=bobby@stiedemann.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '293'
      X-Rate-Limit-Reset:
      - '5'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "c186c525-a814-4ec6-aad2-97f3d2c14de4"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:24 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Lydia%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm4201865", "title":"", "name":"Lydia Bright","description":"Self, The Big Fat Quiz of the Year"},{ "id":"nm4792803", "ti[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Lydia%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Lydia ",["Lydia"],["Lydia (Assyrian: Luddu; Greek: \u039b\u03c5\u03b4\u03af\u03b1,
        Turkish: Lidya) was an Iron Age kingdom of western Asia Minor located generally
        east of ancient Ionia in the modern western Turkish provinces of U\u015fak,
        Manisa and inland \u0130zmir."],["https://en.wikipedia.org/wiki/Lydia"]]'
  recorded_at: Tue, 15 Sep 2015 00:11:41 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=iac.blanda@trantowwill.co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '295'
      X-Rate-Limit-Reset:
      - '53'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "bf295fa3-d268-4b9e-b424-2f7134eb3a6e"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:41 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Eula%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_popular": [{ "id":"nm0883648", "title":"", "name":"Eula Valdez","description":"Actress, Sparks"}],"name_exact": [{ "id":"nm6685301", "title":"", "name":"Eula","description":"Actress, La India blanca"}],"name_substring": [{ "id":"nm4423611", "title":"", "name":"Eula Caballero","description":"Actress, Yesterday Today Tomorrow"},{ "id":"nm6086345", "title":"", "name":"Eula Freudenburg","description":"Actress, Nebraska"},{ "id":"nm6772062", "title":"", "name":"Eula Biss","description":"Self, Finding Vivian Maier"},{ "id":"nm0780830", "title":"", "name":"Eula Seaton","description":"Writer, The End of August"},{ "id":"nm7145332", "title":"", "name":"Eula Fails","description":"Self, MacArthur Returns to the Philippin[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Eula%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Eula ",["Eula"],["Eula may refer to:"],["https://en.wikipedia.org/wiki/Eula"]]'
  recorded_at: Tue, 15 Sep 2015 00:12:25 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=madge@labadieroberts.name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '288'
      X-Rate-Limit-Reset:
      - '9'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "86525a2b-045a-4c12-afaf-3c2188a1e8dd"
        }
  recorded_at: Tue, 15 Sep 2015 00:12:26 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Tue, 15 Sep 2015 00:13:43 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj ",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:13:43 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '295'
      X-Rate-Limit-Reset:
      - '55'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "d44e6634-1564-425e-a8a2-03f36ba48dfa"
        }
  recorded_at: Tue, 15 Sep 2015 00:13:44 GMT
recorded_with: VCR 2.9.3
