---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=%20Prosacco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm4812759", "title":"", "name":"Judith Jacob","description":"Self, Episode dated 31 March 2012"},{ "id":"nm4813382", "title":"", "name":"Melanie Haupt","description":"Actress, Black White"},{ "id":"nm4812300", "title":"", "name":"Nora Boeckler","description":"Self, Episode dated 31 March 2012"},{ "id":"nm0698271", "title":"", "name":"Domenico Procacci","description":"Producer, Seven Pounds"},{ "id":"nm5444843", "title":"", "name":"Kristian Porsgaard Rosasco","description":"Self, Episode dated 29 January 2015"},{ "id":"nm1327995", "title":"", "name":"Jose[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=%20Prosacco
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '[" Prosacco",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:11:22 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=cecelia.wolf@bartoletti.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '294'
      X-Rate-Limit-Reset:
      - '7'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "e43f0d4a-5085-4f83-a277-3de8b08f0391"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:22 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=%20Morissette
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_substring": [{ "id":"nm0001551", "title":"", "name":"Alanis Morissette","description":"Soundtrack, The Chronicles of Narnia: The Lion, the Witch and the Wardrobe"},{ "id":"nm1550844", "title":"", "name":"Marc Morissette","description":"Visual Effects, Ghost Rider"},{ "id":"nm1288034", "title":"", "name":"Jean-Francois Morissette","description":"Visual Effects, 300"},{ "id":"nm0605701", "title":"", "name":"St&#xE9;phane Morissette","description":"Director, 2000 pieds carr&#xE9;s"},{ "id":"nm2020286", "title[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=%20Morissette
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '[" Morissette",["Morissette"],[""],["https://en.wikipedia.org/wiki/Morissette"]]'
  recorded_at: Tue, 15 Sep 2015 00:11:39 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=cory@greenholtchristiansen.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Reset:
      - '56'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "ebc361f5-dc48-4e22-9ca7-1787189b1f02"
        }
  recorded_at: Tue, 15 Sep 2015 00:11:39 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=%20Goyette
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_substring": [{ "id":"nm6333288", "title":"", "name":"Marie Goyette","description":"Actress, The Grand Budapest Hotel"},{ "id":"nm4485878[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=%20Goyette
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '[" Goyette",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:12:23 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=trea_howell@spencer.info
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '289'
      X-Rate-Limit-Reset:
      - '11'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 202,
          "message" : "Queued for search. Please retry your query within about 2 minutes. Prefer not to re-submit queries? Try using our webhook option, documented at: http://www.fullcontact.com/developer/docs/person/#webhook-email",
          "requestId" : "8040dc87-e269-4363-ba73-babc12c95371"
        }
  recorded_at: Tue, 15 Sep 2015 00:12:23 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=%20alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm1627360", "title":"", "name":"Katja P&#xE4;llijeff","description":"Editor, Presidentintekij&#xE4;t"},{ "id":"nm0701727", "title":"", "name":"Pentti P&#xE4;llijeff","description":"Camera and Electrical Department, One-Way Ticket to Mombasa"},{ "id":"nm7148639", "title":"", "name":"Peppina P&#xE4;llijeff","description":"Soundtrack, Urban Family"}]
        }
  recorded_at: Tue, 15 Sep 2015 00:13:41 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=%20alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '[" alfsijef",[],[],[]]'
  recorded_at: Tue, 15 Sep 2015 00:13:42 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '296'
      X-Rate-Limit-Reset:
      - '56'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "fbb80661-13bf-422d-8386-a732b5db6287"
        }
  recorded_at: Tue, 15 Sep 2015 00:13:42 GMT
recorded_with: VCR 2.9.3
