---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Robert%20Frost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_exact": [{ "id":"nm5868986", "title":"", "name":"Robert Frost","description":"Art Department, 21 &#x26; Over"},{ "id":"nm1247622", "title":"", "name":"Robert Frost","description":"Stunts, Orgazmo"},{ "id":"nm0296561", "title":"", "name":"Robert Frost","description":"Actor, The Black Cat"},{ "id":"nm4460857", "title":"", "name":"Robert Frost","description":"Writer, The Afterglow: A Tribute to Robert Frost"},{ "id":"nm0296560", "title":"", "name":"Robert Frost","description":"Writer, Fireflies in the Garden"},{ "id":"nm1318030", "title":"", "name":"Robert Frost","descripti[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Robert%20Frost
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Robert Frost",["Robert Frost"],["Robert Lee Frost (March 26, 1874
        \u2013 January 29, 1963) was an American poet. His work was initially published
        in England before it was published in America."],["https://en.wikipedia.org/wiki/Robert_Frost"]]'
  recorded_at: Sun, 20 Sep 2015 20:18:34 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '299'
      X-Rate-Limit-Reset:
      - '60'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "ee7cda0e-b8a8-4d1b-bc4f-a2045f807710"
        }
  recorded_at: Sun, 20 Sep 2015 20:18:34 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Sun, 20 Sep 2015 20:21:05 GMT
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20Alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj Alfsijef",[],[],[]]'
  recorded_at: Sun, 20 Sep 2015 20:21:05 GMT
recorded_with: VCR 2.9.3
