---
http_interactions:
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Noah%20Kagan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_approx": [{ "id":"nm5861888", "title":"", "name":"Noah Kazanjian","description":"Actor, Late"},{ "id":"nm0863532", "title":"", "name":"Noah Timan","description":"Sound Department, Fantastic Mr. Fox"},{ "id":"nm5742208", "title":"", "name":"Jonah Kagan","description":"Writer, Donner Party: The Musical"},{ "id":"nm0810101", "title":"", "name":"Taran Noah Smith","description":"Actor, Little Bigfoot 2: The Journey Home"},{ "id":"nm0781913", "title":"", "name":"Noah Segan","description":"Actor, Looper"},{ "id":"nm6547344", "title":"", "name":"Noah Kaplan","description":"Writer, [...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Noah%20Kagan
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1
    body:
      encoding: UTF-8
      string: '["Noah Kagan",["Noah Kagan"],["Noah Kagan is an American Internet entrepreneur
        and the founder of AppSumo."],["https://en.wikipedia.org/wiki/Noah_Kagan"]]'
  recorded_at: Fri, 25 Sep 2015 18:35:50 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '295'
      X-Rate-Limit-Reset:
      - '54'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "7e6d33f5-d779-4e38-a022-3e5ff027bc68"
        }
  recorded_at: Fri, 25 Sep 2015 18:35:50 GMT
recorded_with: VCR 2.9.3
