---
http_interactions:
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=John%20Travolta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: UTF-8
      string: '["John Travolta",["John Travolta"],["John Joseph Travolta (born February
        18, 1954) is an American actor, dancer, and singer. Travolta first became
        known in the 1970s, after appearing on the television series Welcome Back,
        Kotter and starring in the box office successes Saturday Night Fever and Grease."],["https://en.wikipedia.org/wiki/John_Travolta"]]'
  recorded_at: Sun, 25 Oct 2015 00:14:34 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=John%20Travolta
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {
        "name_popular": [{ "id":"nm0000237", "title":"", "name":"John Travolta","description":"Actor, Pulp Fiction"}],"name_exact": [{ "id":"nm3923616", "title":"", "name":"Lisa M. Mangan","description":"Actress, Karla Faye Tucker: Forevermore"},{ "id":"nm6395283", "title":"", "name":"John Travolta","description":"Actor, Sex Freaks"}],"name_approx": [{ "id":"nm0871456", "title":"", "name":"Joey Travolta","description":"Actor, Beverly Hills Cop III"},{ "id":"nm6445718", "title":"", "name":"Joey Travolta","description":"Producer, Holiday Anonymous"},{ "id":"nm5975710", "title":"", "name":"Joey Travolta","description":"Actor, A Lousy 10 Grand"},{ "id":"nm4765562", "title":"", "name":"Jane Travolta","description":"Actress, Laro"},{ "id":"nm0871455", "title":"", "name":"Helen Travolta","description":"Actress, Saturday Night Fever"},{ "id":"nm08[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=Ericrobertmyers@Gmail.Com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '273'
      X-Rate-Limit-Reset:
      - '27'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 200,
          "requestId" : "aefd5653-1d82-43a4-b133-9309445c2111",
          "likelihood" : 0.93,
          "photos" : [ {
            "type" : "linkedin",
            "typeId" : "linkedin",
            "typeName" : "LinkedIn",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/04b33c22ccba69a49bb07fe154ec1011_59735eee583abad92906a3dcfee9685b0813ae5221f010c1ded78f28d036f4a8",
            "isPrimary" : true
          }, {
            "type" : "other",
            "typeId" : "other",
            "typeName" : "Other",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/static/2d2c28c0a2de7ccae81416e8bb6ba09d_06cf706dc72d423798d5f3edf89c48c5b297588ab81c2b86efe008c5b9082b01",
            "isPrimary" : false
          }, {
            "type" : "googleplus",
            "typeId" : "googleplus",
            "typeName" : "GooglePlus",
            "url" : "https://d2ojpxxtu63wzl.cloudfront.net/[...]
- request:
    method: get
    uri: https://en.wikipedia.org/w/api.php?action=opensearch&format=json&limit=1&namespace=0&search=Aaslkdfj%20alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
    body:
      encoding: UTF-8
      string: '["Aaslkdfj alfsijef",[],[],[]]'
  recorded_at: Sun, 25 Oct 2015 00:14:35 GMT
- request:
    method: get
    uri: http://www.imdb.com/xml/find?json=1&nm=on&nr=1&q=Aaslkdfj%20alfsijef
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |2

        {

        }
  recorded_at: Sun, 25 Oct 2015 00:14:36 GMT
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '272'
      X-Rate-Limit-Reset:
      - '26'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "adac1b3e-9f41-419f-9beb-cf80396d5250"
        }
  recorded_at: Sun, 25 Oct 2015 00:14:37 GMT
[...]
- request:
    method: get
    uri: https://api.fullcontact.com/v2/person.json?apiKey=62615ace74c7283e&email=falwiejf@asldfij.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '270'
      X-Rate-Limit-Reset:
      - '24'
    body:
      encoding: UTF-8
      string: |-
        {
          "status" : 404,
          "message" : "Searched within last 24 hours. No results found for this Id.",
          "requestId" : "e444cb78-4c1a-47dc-b422-6b855707ca87"
        }
  recorded_at: Sun, 25 Oct 2015 00:14:38 GMT
recorded_with: VCR 2.9.3
