<div>
  <% flash.each do |key, value| %>
    <div class="alert alert-info fade in text-center">
      <a href="#" data-dismiss="alert" class="close">×</a>
      <%= value %>
    </div>
  <% end %>
</div>