<div class='load-ajax text-center'>
    <%= image_tag('loading.gif') %>
    <h4><strong>Checking Celebrity Status...</strong></h4>
    <h4><strong>It's okay to navigate away from this page</strong></h4>
</div>

<div class='load-ajax-onboard text-center'>
    <%= image_tag('loading.gif') %>
    <h1>Hold tight. We're finding you a celebrity.</h1>
    <p>This can take a few minutes</p>
</div>
