<div class='load-ajax text-center'>
    <%= image_tag('loading.gif') %>
    <h4><strong>Checking Celebrity Status...</strong></h4>
    <h4><strong>It's okay to navigate away from this page</strong></h4>
</div>
